.slider {
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}
