/* MENU CENTRAL */
body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: #000;
    padding: 15px;
    font-size: 28px;
}

.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn {
    background: #222;
    padding: 12px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #555;
}

.btn:hover {
    background: #444;
}
