body {
    margin: 0;
    background: #111;
    font-family: Arial;
    color: white;
    text-align: center;
}

.titulo {
    margin-top: 20px;
}

.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.btn {
    background: #222;
    padding: 15px 30px;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px #000;
}

.btn:hover {
    background: #444;
    transform: scale(1.05);
}
